In [19]:
import pandas as pd
import numpy as np
import os
import math

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
# use get_db_url function to connect to the codeup db
from env import get_db_url
from sklearn.impute import SimpleImputer

# custom module imports
# import acquire as aq
import wrangle

In [2]:
df = wrangle.zillow_data()

In [3]:
df.head()

,typeconstructiontypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,bathroomcnt,bedroomcnt,...,taxdelinquencyyear,censustractandblock,id,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,typeconstructiondesc
0,NaN,NaN,NaN,NaN,NaN,14297519,1727539,NaN,3.5,4.0,...,NaN,6.059063e+13,0,0.025595,2017-01-01,None,None,None,None,None
1,NaN,NaN,NaN,NaN,NaN,17052889,1387261,NaN,1.0,2.0,...,NaN,6.111001e+13,1,0.055619,2017-01-01,None,None,None,None,None
2,NaN,NaN,NaN,NaN,NaN,14186244,11677,NaN,2.0,3.0,...,NaN,6.059022e+13,2,0.005383,2017-01-01,None,None,None,None,None
3,NaN,2.0,NaN,NaN,NaN,12177905,2288172,NaN,3.0,4.0,...,NaN,6.037300e+13,3,-0.103410,2017-01-01,None,None,None,Central,None
4,NaN,2.0,NaN,NaN,1.0,10887214,1970746,NaN,3.0,3.0,...,NaN,6.037124e+13,4,0.006940,2017-01-01,Central,None,None,Central,None

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77579 entries, 0 to 77578
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        223 non-null    float64
 1   heatingorsystemtypeid         49571 non-null  float64
 2   buildingclasstypeid           15 non-null     float64
 3   architecturalstyletypeid      207 non-null    float64
 4   airconditioningtypeid         25007 non-null  float64
 5   parcelid                      77579 non-null  int64
 6   id                            77579 non-null  int64
 7   basementsqft                  50 non-null     float64
 8   bathroomcnt                   77579 non-null  float64
 9   bedroomcnt                    77579 non-null  float64
 10  buildingqualitytypeid         49809 non-null  float64
 11  calculatedbathnbr             76963 non-null  float64
 12  decktypeid                    614 non-null    float64
 13  finishedfloor1squarefeet      6037 non-null   float64
 14  calculatedfinishedsquarefeet  77378 non-null  float64
 15  finishedsquarefeet12          73923 non-null  float64
 16  finishedsquarefeet13          42 non-null     float64
 17  finishedsquarefeet15          3027 non-null   float64
 18  finishedsquarefeet50          6037 non-null   float64
 19  finishedsquarefeet6           386 non-null    float64
 20  fips                          77579 non-null  float64
 21  fireplacecnt                  8289 non-null   float64
 22  fullbathcnt                   76963 non-null  float64
 23  garagecarcnt                  25520 non-null  float64
 24  garagetotalsqft               25520 non-null  float64
 25  hashottuborspa                1539 non-null   float64
 26  latitude                      77579 non-null  float64
 27  longitude                     77579 non-null  float64
 28  lotsizesquarefeet             69321 non-null  float64
 29  poolcnt                       16174 non-null  float64
 30  poolsizesum                   869 non-null    float64
 31  pooltypeid10                  465 non-null    float64
 32  pooltypeid2                   1074 non-null   float64
 33  pooltypeid7                   15079 non-null  float64
 34  propertycountylandusecode     77579 non-null  object
 35  propertylandusetypeid         77579 non-null  float64
 36  propertyzoningdesc            50476 non-null  object
 37  rawcensustractandblock        77579 non-null  float64
 38  regionidcity                  76107 non-null  float64
 39  regionidcounty                77579 non-null  float64
 40  regionidneighborhood          30974 non-null  float64
 41  regionidzip                   77529 non-null  float64
 42  roomcnt                       77579 non-null  float64
 43  storytypeid                   50 non-null     float64
 44  threequarterbathnbr           10106 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77309 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77464 non-null  float64
 52  taxvaluedollarcnt             77578 non-null  float64
 53  assessmentyear                77579 non-null  float64
 54  landtaxvaluedollarcnt         77577 non-null  float64
 55  taxamount                     77574 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77332 non-null  float64
 59  id                            77579 non-null  int64
 60  logerror                      77579 non-null  float64
 61  transactiondate               77579 non-null  object
 62  airconditioningdesc           25007 non-null  object
 63  architecturalstyledesc        207 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49571 non-null  object
 66  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(3), object(9)
memory usage: 39.7+ MB

In [5]:
for col in df.columns:
    if col != 'id':
        print(col)
        print(df[col].value_counts())

typeconstructiontypeid
6.0     220
13.0      1
10.0      1
4.0       1
Name: typeconstructiontypeid, dtype: int64
heatingorsystemtypeid
2.0     33633
7.0     14107
24.0      850
6.0       777
20.0      104
13.0       60
18.0       23
1.0        13
10.0        3
11.0        1
Name: heatingorsystemtypeid, dtype: int64
buildingclasstypeid
4.0    14
3.0     1
Name: buildingclasstypeid, dtype: int64
architecturalstyletypeid
7.0     173
8.0      19
21.0      7
2.0       5
3.0       3
Name: architecturalstyletypeid, dtype: int64
airconditioningtypeid
1.0     23186
13.0     1575
5.0       167
11.0       53
9.0        26
Name: airconditioningtypeid, dtype: int64
parcelid
11991059    3
10857130    3
12612211    3
11721753    2
14008322    2
           ..
11994786    1
14187514    1
11446758    1
14013599    1
12826780    1
Name: parcelid, Length: 77381, dtype: int64
basementsqft
900.0     2
700.0     2
100.0     2
640.0     2
515.0     2
273.0     2
912.0     2
314.0     1
819.0     1
1809.0    1
604.0     1
126.0     1
588.0     1
786.0     1
669.0     1
800.0     1
396.0     1
112.0     1
645.0     1
384.0     1
1969.0    1
252.0     1
600.0     1
1218.0    1
280.0     1
405.0     1
224.0     1
512.0     1
380.0     1
204.0     1
200.0     1
90.0      1
3112.0    1
674.0     1
300.0     1
1252.0    1
254.0     1
3560.0    1
352.0     1
168.0     1
394.0     1
1416.0    1
38.0      1
Name: basementsqft, dtype: int64
bathroomcnt
2.0     31575
3.0     17354
1.0     12945
2.5      6607
4.0      3356
1.5      1419
3.5      1036
5.0      1026
4.5       696
0.0       599
6.0       419
5.5       224
7.0       114
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
11.0        3
8.5         3
18.0        1
13.0        1
Name: bathroomcnt, dtype: int64
bedroomcnt
3.0     30436
2.0     19223
4.0     17551
5.0      4550
1.0      3391
6.0      1000
0.0       837
8.0       253
7.0       208
9.0        70
10.0       31
12.0       16
11.0        9
13.0        2
14.0        1
16.0        1
Name: bedroomcnt, dtype: int64
buildingqualitytypeid
8.0     14685
6.0     13501
4.0      9508
7.0      5981
9.0      2303
5.0      2099
11.0      933
3.0       335
10.0      313
12.0      116
1.0        26
2.0         9
Name: buildingqualitytypeid, dtype: int64
calculatedbathnbr
2.0     31575
3.0     17354
1.0     12945
2.5      6598
4.0      3356
1.5      1412
3.5      1036
5.0      1026
4.5       696
6.0       419
5.5       223
7.0       114
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
11.0        3
8.5         3
18.0        1
13.0        1
Name: calculatedbathnbr, dtype: int64
decktypeid
66.0    614
Name: decktypeid, dtype: int64
finishedfloor1squarefeet
1441.0    22
1252.0    22
1462.0    21
1498.0    21
780.0     21
          ..
1988.0     1
666.0      1
1437.0     1
1307.0     1
2652.0     1
Name: finishedfloor1squarefeet, Length: 1787, dtype: int64
calculatedfinishedsquarefeet
1200.0    182
1120.0    169
1440.0    148
1080.0    133
1260.0    121
         ...
5698.0      1
4619.0      1
4148.0      1
3763.0      1
5210.0      1
Name: calculatedfinishedsquarefeet, Length: 4972, dtype: int64
finishedsquarefeet12
1200.0    177
1120.0    165
1080.0    132
1440.0    121
1260.0    117
         ...
4229.0      1
7284.0      1
5185.0      1
8240.0      1
5210.0      1
Name: finishedsquarefeet12, Length: 4868, dtype: int64
finishedsquarefeet13
1440.0    18
1344.0     6
1536.0     3
1488.0     3
1152.0     2
1392.0     2
1248.0     2
1056.0     1
1300.0     1
1560.0     1
1512.0     1
1060.0     1
1200.0     1
Name: finishedsquarefeet13, dtype: int64
finishedsquarefeet15
1680.0    16
1536.0    12
2016.0    12
1740.0    10
1600.0    10
          ..
4626.0     1
1385.0     1
2345.0     1
1080.0     1
4422.0     1
Name: finishedsquarefeet15, Length: 1724, dtype: int64
finishedsquarefeet50
1252.0    22
1441.0    22
1462.0    21
780.0     21
1498.0    21
          ..
1395.0     1
2738.0     1
3601.0     1
3550.0     1
2652.0     1
Name: finishedsquarefeet50, Length: 1807, dtype: int64
finishedsquarefeet6
952.0     4
520.0     3
750.0     3
3552.0    3
3500.0    3
         ..
2708.0    1
3950.0    1
1178.0    1
1460.0    1
905.0     1
Name: finishedsquarefeet6, Length: 350, dtype: int64
fips
6037.0    50696
6059.0    20631
6111.0     6252
Name: fips, dtype: int64
fireplacecnt
1.0    7018
2.0     998
3.0     235
4.0      35
5.0       3
Name: fireplacecnt, dtype: int64
fullbathcnt
2.0     38190
3.0     18394
1.0     14357
4.0      4053
5.0      1245
6.0       456
7.0       122
8.0       111
9.0        23
10.0        7
11.0        3
18.0        1
13.0        1
Name: fullbathcnt, dtype: int64
garagecarcnt
2.0     18638
1.0      5691
3.0       632
4.0       256
0.0       230
5.0        45
6.0        14
7.0         4
10.0        3
8.0         2
9.0         2
11.0        1
13.0        1
14.0        1
Name: garagecarcnt, dtype: int64
garagetotalsqft
0.0       7700
400.0      788
441.0      678
462.0      660
360.0      648
          ...
275.0        1
1056.0       1
261.0        1
1155.0       1
957.0        1
Name: garagetotalsqft, Length: 839, dtype: int64
hashottuborspa
1.0    1539
Name: hashottuborspa, dtype: int64
latitude
33984600.0    40
33665651.0    38
33766300.0    34
34056700.0    32
34225100.0    29
              ..
34222219.0     1
34593479.0     1
34113616.0     1
34218771.0     1
33937685.0     1
Name: latitude, Length: 64038, dtype: int64
longitude
-118438000.0    63
-118435000.0    62
-118390000.0    60
-118445000.0    60
-118377000.0    59
                ..
-118574485.0     1
-117825656.0     1
-118107541.0     1
-118410753.0     1
-117996709.0     1
Name: longitude, Length: 62461, dtype: int64
lotsizesquarefeet
6000.0      895
5000.0      439
7200.0      315
7000.0      299
6500.0      294
           ...
40184.0       1
169884.0      1
22958.0       1
25370.0       1
47405.0       1
Name: lotsizesquarefeet, Length: 18848, dtype: int64
poolcnt
1.0    16174
Name: poolcnt, dtype: int64
poolsizesum
450.0     90
400.0     38
500.0     30
600.0     27
512.0     25
          ..
275.0      1
434.0      1
1070.0     1
368.0      1
780.0      1
Name: poolsizesum, Length: 262, dtype: int64
pooltypeid10
1.0    465
Name: pooltypeid10, dtype: int64
pooltypeid2
1.0    1074
Name: pooltypeid2, dtype: int64
pooltypeid7
1.0    15079
Name: pooltypeid7, dtype: int64
propertycountylandusecode
0100    26782
122     13067
010C     8838
0101     6413
34       4932
        ...
0115        1
0131        1
1432        1
040G        1
020E        1
Name: propertycountylandusecode, Length: 75, dtype: int64
propertylandusetypeid
261.0    52441
266.0    19342
246.0     2021
269.0     1947
248.0      729
247.0      539
265.0      335
263.0       74
275.0       59
260.0       42
267.0       29
31.0        15
264.0        6
Name: propertylandusetypeid, dtype: int64
propertyzoningdesc
LAR1         6766
LAR3         2450
LARS         1394
LBR1N        1225
LARD1.5      1132
             ...
LCCM*           1
BFA16000*       1
LCPR*           1
LYR2            1
BFA15000*       1
Name: propertyzoningdesc, Length: 1907, dtype: int64
rawcensustractandblock
6.037137e+07    60
6.059063e+07    60
6.037920e+07    58
6.037277e+07    51
6.059032e+07    43
                ..
6.037481e+07     1
6.059042e+07     1
6.037406e+07     1
6.037430e+07     1
6.037503e+07     1
Name: rawcensustractandblock, Length: 39194, dtype: int64
regionidcity
12447.0     18003
46298.0      2596
5534.0       1916
54311.0      1882
52650.0      1670
            ...
118880.0        5
13311.0         5
10815.0         4
36078.0         1
21395.0         1
Name: regionidcity, Length: 175, dtype: int64
regionidcounty
3101.0    50696
1286.0    20631
2061.0     6252
Name: regionidcounty, dtype: int64
regionidneighborhood
27080.0     721
48570.0     708
37739.0     685
118208.0    674
51906.0     551
           ...
273350.0      1
764146.0      1
268050.0      1
764138.0      1
762940.0      1
Name: regionidneighborhood, Length: 480, dtype: int64
regionidzip
97319.0    825
96987.0    753
97318.0    712
97118.0    616
96974.0    595
          ...
96329.0      2
97092.0      1
96467.0      1
97088.0      1
97111.0      1
Name: regionidzip, Length: 389, dtype: int64
roomcnt
0.0     59966
6.0      4523
7.0      3845
5.0      3023
8.0      2875
4.0      1423
9.0      1196
10.0      340
3.0       212
11.0      108
12.0       35
2.0        15
13.0       10
14.0        6
1.0         1
15.0        1
Name: roomcnt, dtype: int64
storytypeid
7.0    50
Name: storytypeid, dtype: int64
threequarterbathnbr
1.0    10022
2.0       75
3.0        8
7.0        1
Name: threequarterbathnbr, dtype: int64
unitcnt
1.0      47413
2.0       2031
4.0        726
3.0        529
45.0         1
42.0         1
6.0          1
237.0        1
Name: unitcnt, dtype: int64
yardbuildingsqft17
200.0     103
240.0      76
300.0      50
180.0      42
120.0      38
         ...
257.0       1
346.0       1
1216.0      1
707.0       1
409.0       1
Name: yardbuildingsqft17, Length: 540, dtype: int64
yardbuildingsqft26
30.0     3
120.0    3
300.0    2
33.0     2
144.0    2
448.0    2
240.0    2
88.0     2
56.0     2
284.0    1
39.0     1
140.0    1
133.0    1
486.0    1
250.0    1
91.0     1
491.0    1
575.0    1
16.0     1
196.0    1
71.0     1
204.0    1
461.0    1
195.0    1
292.0    1
231.0    1
320.0    1
384.0    1
180.0    1
49.0     1
868.0    1
462.0    1
48.0     1
72.0     1
28.0     1
414.0    1
160.0    1
45.0     1
752.0    1
169.0    1
21.0     1
200.0    1
113.0    1
41.0     1
314.0    1
12.0     1
66.0     1
105.0    1
648.0    1
174.0    1
218.0    1
60.0     1
336.0    1
108.0    1
216.0    1
360.0    1
368.0    1
37.0     1
576.0    1
Name: yardbuildingsqft26, dtype: int64
yearbuilt
1955.0    1975
1989.0    1788
1950.0    1676
1964.0    1648
1954.0    1590
          ...
1883.0       1
1866.0       1
1878.0       1
1889.0       1
1880.0       1
Name: yearbuilt, Length: 136, dtype: int64
numberofstories
1.0    10397
2.0     6764
3.0      437
6.0        1
Name: numberofstories, dtype: int64
fireplaceflag
1.0    172
Name: fireplaceflag, dtype: int64
structuretaxvaluedollarcnt
100000.0    83
200000.0    60
203050.0    55
90000.0     53
95000.0     49
            ..
135759.0     1
97165.0      1
137090.0     1
49717.0      1
32797.0      1
Name: structuretaxvaluedollarcnt, Length: 50430, dtype: int64
taxvaluedollarcnt
400000.0     56
600000.0     50
350000.0     49
450000.0     45
455000.0     44
             ..
384769.0      1
733884.0      1
92104.0       1
1141782.0     1
49546.0       1
Name: taxvaluedollarcnt, Length: 50949, dtype: int64
assessmentyear
2016.0    77579
Name: assessmentyear, dtype: int64
landtaxvaluedollarcnt
21299.0     97
22755.0     69
304575.0    65
203050.0    63
30210.0     63
            ..
214805.0     1
117704.0     1
409586.0     1
572377.0     1
283704.0     1
Name: landtaxvaluedollarcnt, Length: 51600, dtype: int64
taxamount
2418.22     8
3720.52     7
3815.22     5
1725.20     5
4401.72     5
           ..
2868.13     1
11476.72    1
1797.23     1
15250.74    1
6317.15     1
Name: taxamount, Length: 73825, dtype: int64
taxdelinquencyflag
Y    2900
Name: taxdelinquencyflag, dtype: int64
taxdelinquencyyear
15.0    1560
14.0     801
13.0     187
12.0     113
11.0      98
10.0      66
9.0       47
8.0       14
7.0       10
3.0        1
6.0        1
99.0       1
4.0        1
Name: taxdelinquencyyear, dtype: int64
censustractandblock
6.037137e+13    60
6.037277e+13    51
6.059032e+13    44
6.037920e+13    41
6.059063e+13    41
                ..
6.059042e+13     1
6.037406e+13     1
6.037430e+13     1
6.037604e+13     1
6.037503e+13     1
Name: censustractandblock, Length: 39006, dtype: int64
logerror
 0.000231    7
 0.002652    7
 0.001878    5
 0.008932    5
 0.008257    5
            ..
-0.019785    1
 0.018738    1
-0.062850    1
-0.000670    1
 0.037129    1
Name: logerror, Length: 77030, dtype: int64
transactiondate
2017-06-30    1194
2017-04-28     917
2017-05-31     868
2017-07-28     815
2017-08-31     782
              ...
2017-03-12       1
2017-07-22       1
2017-08-05       1
2017-08-06       1
2017-09-25       1
Name: transactiondate, Length: 264, dtype: int64
airconditioningdesc
Central          23186
Yes               1575
None               167
Wall Unit           53
Refrigeration       26
Name: airconditioningdesc, dtype: int64
architecturalstyledesc
Contemporary     173
Conventional      19
Ranch/Rambler      7
Bungalow           5
Cape Cod           3
Name: architecturalstyledesc, dtype: int64
buildingclassdesc
Buildings having wood or wood and steel frames                                                                                                                                                                                             14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     1
Name: buildingclassdesc, dtype: int64
heatingorsystemdesc
Central       33633
Floor/Wall    14107
Yes             850
Forced air      777
Solar           104
None             60
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64
typeconstructiondesc
Frame       220
Masonry       1
Metal         1
Concrete      1
Name: typeconstructiondesc, dtype: int64

In [6]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing.sort_values(by='num_rows_missing', ascending=False)

In [7]:
pd.options.display.max_columns = None
pd.options.display.max_rows = 70

In [8]:
nulls_by_col(df)

                              num_rows_missing  percent_rows_missing
buildingclasstypeid                      77564             99.980665
buildingclassdesc                        77564             99.980665
finishedsquarefeet13                     77537             99.945862
basementsqft                             77529             99.935550
storytypeid                              77529             99.935550
yardbuildingsqft26                       77509             99.909769
fireplaceflag                            77407             99.778291
architecturalstyletypeid                 77372             99.733175
architecturalstyledesc                   77372             99.733175
typeconstructiontypeid                   77356             99.712551
typeconstructiondesc                     77356             99.712551
finishedsquarefeet6                      77193             99.502443
pooltypeid10                             77114             99.400611
decktypeid                               76965             99.208549
poolsizesum                              76710             98.879852
pooltypeid2                              76505             98.615605
hashottuborspa                           76040             98.016216
yardbuildingsqft17                       75186             96.915402
taxdelinquencyyear                       74679             96.261875
taxdelinquencyflag                       74679             96.261875
finishedsquarefeet15                     74552             96.098171
finishedfloor1squarefeet                 71542             92.218255
finishedsquarefeet50                     71542             92.218255
fireplacecnt                             69290             89.315408
threequarterbathnbr                      67473             86.973279
pooltypeid7                              62500             80.563039
poolcnt                                  61405             79.151575
numberofstories                          59980             77.314737
airconditioningdesc                      52572             67.765761
airconditioningtypeid                    52572             67.765761
garagetotalsqft                          52059             67.104500
garagecarcnt                             52059             67.104500
regionidneighborhood                     46605             60.074247
heatingorsystemtypeid                    28008             36.102554
heatingorsystemdesc                      28008             36.102554
buildingqualitytypeid                    27770             35.795769
propertyzoningdesc                       27103             34.936001
unitcnt                                  26876             34.643396
lotsizesquarefeet                         8258             10.644633
finishedsquarefeet12                      3656              4.712616
regionidcity                              1472              1.897421
calculatedbathnbr                          616              0.794029
fullbathcnt                                616              0.794029
yearbuilt                                  270              0.348032
censustractandblock                        247              0.318385
calculatedfinishedsquarefeet               201              0.259091
structuretaxvaluedollarcnt                 115              0.148236
regionidzip                                 50              0.064450
taxamount                                    5              0.006445
landtaxvaluedollarcnt                        2              0.002578
taxvaluedollarcnt                            1              0.001289
latitude                                     0              0.000000
fips                                         0              0.000000
parcelid                                     0              0.000000
transactiondate                              0              0.000000
logerror                                     0              0.000000
id                                           0              0.000000
roomcnt                                      0              0.000000
longitude                                    0              0.000000
bedroomcnt                                   0              0.000000
assessmentyear                               0              0.000000
id                                           0              0.000000
propertycountylandusecode                    0              0.000000
bathroomcnt                                  0              0.000000
propertylandusetypeid                        0              0.000000
rawcensustractandblock                       0              0.000000
regionidcounty                               0              0.000000

In [9]:
df.taxdelinquencyflag.value_counts()

Y    2900
Name: taxdelinquencyflag, dtype: int64

In [10]:
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})
    rows_missing = df.merge(rows_missing,
                        left_index=True,
                        right_index=True)[['parcelid', 'num_cols_missing', 'percent_cols_missing']]
    return rows_missing.sort_values(by='num_cols_missing', ascending=False)

In [11]:
nulls_by_row(df)

        parcelid  num_cols_missing  percent_cols_missing
55652   14341728                47             70.149254
41670  167687839                47             70.149254
13457  167686999                47             70.149254
14547  167687739                46             68.656716
16644  167689317                46             68.656716
...          ...               ...                   ...
58524   14292517                23             34.328358
66285   14128839                23             34.328358
39389   14371475                23             34.328358
58338   14215623                22             32.835821
32898   14465914                22             32.835821

[77579 rows x 3 columns]

In [12]:
def summarize(df):
    '''
    This function will take in a single argument (a pandas dataframe) and 
    output to console various statistices on said dataframe, including:
    # .head()
    # .info()
    # .describe()
    # value_counts()
    # observation of nulls in the dataframe
    '''
    print('----------------------')
    print('Dataframe head')
    print(df.head(3))
    print('----------------------')
    print('Dataframe Info ')
    print(df.info())
    print('----------------------')
    print('Dataframe Description')
    print(df.describe())
    print('----------------------')
    num_cols = [col for col in df.columns if df[col].dtype != 'object']
    cat_cols = [col for col in df.columns if col not in num_cols]
    print('----------------------')
    print('Dataframe value counts ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts())
        else:
            # define bins for continuous columns and don't sort them
            print(df[col].value_counts(bins=10, sort=False))
    print('----------------------')
    print('nulls in df by column')
    print(nulls_by_col(df))
    print('----------------------')
    print('null in df by row')
    print(nulls_by_row(df))
    print('----------------------')

In [13]:
summarize(df)

----------------------
Dataframe head
   typeconstructiontypeid  heatingorsystemtypeid  buildingclasstypeid  \
0                     NaN                    NaN                  NaN
1                     NaN                    NaN                  NaN
2                     NaN                    NaN                  NaN

   architecturalstyletypeid  airconditioningtypeid  parcelid       id  \
0                       NaN                    NaN  14297519  1727539
1                       NaN                    NaN  17052889  1387261
2                       NaN                    NaN  14186244    11677

   basementsqft  bathroomcnt  bedroomcnt  buildingqualitytypeid  \
0           NaN          3.5         4.0                    NaN
1           NaN          1.0         2.0                    NaN
2           NaN          2.0         3.0                    NaN

   calculatedbathnbr  decktypeid  finishedfloor1squarefeet  \
0                3.5         NaN                       NaN
1                1.0         NaN                    1465.0
2                2.0         NaN                       NaN

   calculatedfinishedsquarefeet  finishedsquarefeet12  finishedsquarefeet13  \
0                        3100.0                3100.0                   NaN
1                        1465.0                1465.0                   NaN
2                        1243.0                1243.0                   NaN

   finishedsquarefeet15  finishedsquarefeet50  finishedsquarefeet6    fips  \
0                   NaN                   NaN                  NaN  6059.0
1                   NaN                1465.0                  NaN  6111.0
2                   NaN                   NaN                  NaN  6059.0

   fireplacecnt  fullbathcnt  garagecarcnt  garagetotalsqft  hashottuborspa  \
0           NaN          3.0           2.0            633.0             NaN
1           1.0          1.0           1.0              0.0             NaN
2           NaN          2.0           2.0            440.0             NaN

     latitude    longitude  lotsizesquarefeet  poolcnt  poolsizesum  \
0  33634931.0 -117869207.0             4506.0      NaN          NaN
1  34449266.0 -119281531.0            12647.0      NaN          NaN
2  33886168.0 -117823170.0             8432.0      1.0          NaN

   pooltypeid10  pooltypeid2  pooltypeid7 propertycountylandusecode  \
0           NaN          NaN          NaN                       122
1           NaN          NaN          NaN                      1110
2           NaN          NaN          1.0                       122

   propertylandusetypeid propertyzoningdesc  rawcensustractandblock  \
0                  261.0               None            6.059063e+07
1                  261.0               None            6.111001e+07
2                  261.0               None            6.059022e+07

   regionidcity  regionidcounty  regionidneighborhood  regionidzip  roomcnt  \
0       53571.0          1286.0                   NaN      96978.0      0.0
1       13091.0          2061.0                   NaN      97099.0      5.0
2       21412.0          1286.0                   NaN      97078.0      6.0

   storytypeid  threequarterbathnbr  unitcnt  yardbuildingsqft17  \
0          NaN                  1.0      NaN                 NaN
1          NaN                  NaN      NaN                 NaN
2          NaN                  NaN      NaN                 NaN

   yardbuildingsqft26  yearbuilt  numberofstories  fireplaceflag  \
0                 NaN     1998.0              NaN            NaN
1                 NaN     1967.0              1.0            NaN
2                 NaN     1962.0              1.0            NaN

   structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
0                    485713.0          1023282.0          2016.0
1                     88000.0           464000.0          2016.0
2                     85289.0           564778.0          2016.0

   landtaxvaluedollarcnt  taxamount taxdelinquencyflag  taxdelinquencyyear  \
0               537569.0   11013.72               None                 NaN
1               376000.0    5672.48               None                 NaN
2               479489.0    6488.30               None                 NaN

   censustractandblock  id  logerror transactiondate airconditioningdesc  \
0         6.059063e+13   0  0.025595      2017-01-01                None
1         6.111001e+13   1  0.055619      2017-01-01                None
2         6.059022e+13   2  0.005383      2017-01-01                None

  architecturalstyledesc buildingclassdesc heatingorsystemdesc  \
0                   None              None                None
1                   None              None                None
2                   None              None                None

  typeconstructiondesc
0                 None
1                 None
2                 None
----------------------
Dataframe Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77579 entries, 0 to 77578
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        223 non-null    float64
 1   heatingorsystemtypeid         49571 non-null  float64
 2   buildingclasstypeid           15 non-null     float64
 3   architecturalstyletypeid      207 non-null    float64
 4   airconditioningtypeid         25007 non-null  float64
 5   parcelid                      77579 non-null  int64
 6   id                            77579 non-null  int64
 7   basementsqft                  50 non-null     float64
 8   bathroomcnt                   77579 non-null  float64
 9   bedroomcnt                    77579 non-null  float64
 10  buildingqualitytypeid         49809 non-null  float64
 11  calculatedbathnbr             76963 non-null  float64
 12  decktypeid                    614 non-null    float64
 13  finishedfloor1squarefeet      6037 non-null   float64
 14  calculatedfinishedsquarefeet  77378 non-null  float64
 15  finishedsquarefeet12          73923 non-null  float64
 16  finishedsquarefeet13          42 non-null     float64
 17  finishedsquarefeet15          3027 non-null   float64
 18  finishedsquarefeet50          6037 non-null   float64
 19  finishedsquarefeet6           386 non-null    float64
 20  fips                          77579 non-null  float64
 21  fireplacecnt                  8289 non-null   float64
 22  fullbathcnt                   76963 non-null  float64
 23  garagecarcnt                  25520 non-null  float64
 24  garagetotalsqft               25520 non-null  float64
 25  hashottuborspa                1539 non-null   float64
 26  latitude                      77579 non-null  float64
 27  longitude                     77579 non-null  float64
 28  lotsizesquarefeet             69321 non-null  float64
 29  poolcnt                       16174 non-null  float64
 30  poolsizesum                   869 non-null    float64
 31  pooltypeid10                  465 non-null    float64
 32  pooltypeid2                   1074 non-null   float64
 33  pooltypeid7                   15079 non-null  float64
 34  propertycountylandusecode     77579 non-null  object
 35  propertylandusetypeid         77579 non-null  float64
 36  propertyzoningdesc            50476 non-null  object
 37  rawcensustractandblock        77579 non-null  float64
 38  regionidcity                  76107 non-null  float64
 39  regionidcounty                77579 non-null  float64
 40  regionidneighborhood          30974 non-null  float64
 41  regionidzip                   77529 non-null  float64
 42  roomcnt                       77579 non-null  float64
 43  storytypeid                   50 non-null     float64
 44  threequarterbathnbr           10106 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77309 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77464 non-null  float64
 52  taxvaluedollarcnt             77578 non-null  float64
 53  assessmentyear                77579 non-null  float64
 54  landtaxvaluedollarcnt         77577 non-null  float64
 55  taxamount                     77574 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77332 non-null  float64
 59  id                            77579 non-null  int64
 60  logerror                      77579 non-null  float64
 61  transactiondate               77579 non-null  object
 62  airconditioningdesc           25007 non-null  object
 63  architecturalstyledesc        207 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49571 non-null  object
 66  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(3), object(9)
memory usage: 39.7+ MB
None
----------------------
Dataframe Description
       typeconstructiontypeid  heatingorsystemtypeid  buildingclasstypeid  \
count              223.000000           49571.000000            15.000000
mean                 6.040359               3.921749             3.933333
std                  0.556035               3.594780             0.258199
min                  4.000000               1.000000             3.000000
25%                  6.000000               2.000000             4.000000
50%                  6.000000               2.000000             4.000000
75%                  6.000000               7.000000             4.000000
max                 13.000000              24.000000             4.000000

       architecturalstyletypeid  airconditioningtypeid      parcelid  \
count                207.000000           25007.000000  7.757900e+04
mean                   7.386473               1.812013  1.300828e+07
std                    2.728030               2.965768  3.519399e+06
min                    2.000000               1.000000  1.071186e+07
25%                    7.000000               1.000000  1.153820e+07
50%                    7.000000               1.000000  1.253054e+07
75%                    7.000000               1.000000  1.421136e+07
max                   21.000000              13.000000  1.676893e+08

                 id  basementsqft   bathroomcnt    bedroomcnt  \
count  7.757900e+04     50.000000  77579.000000  77579.000000
mean   1.495392e+06    679.720000      2.298496      3.053223
std    8.609686e+05    689.703546      0.996732      1.140480
min    3.490000e+02     38.000000      0.000000      0.000000
25%    7.521420e+05    273.000000      2.000000      2.000000
50%    1.498227e+06    515.000000      2.000000      3.000000
75%    2.240879e+06    796.500000      3.000000      4.000000
max    2.982274e+06   3560.000000     18.000000     16.000000

       buildingqualitytypeid  calculatedbathnbr  decktypeid  \
count           49809.000000       76963.000000       614.0
mean                6.533779           2.316392        66.0
std                 1.722062           0.979689         0.0
min                 1.000000           1.000000        66.0
25%                 6.000000           2.000000        66.0
50%                 6.000000           2.000000        66.0
75%                 8.000000           3.000000        66.0
max                12.000000          18.000000        66.0

       finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
count               6037.000000                  77378.000000
mean                1366.165314                   1784.935421
std                  670.701336                    954.250373
min                   44.000000                    128.000000
25%                  955.000000                   1182.000000
50%                 1257.000000                   1542.000000
75%                 1615.000000                   2112.000000
max                 6912.000000                  35640.000000

       finishedsquarefeet12  finishedsquarefeet13  finishedsquarefeet15  \
count          73923.000000             42.000000           3027.000000
mean            1760.284553           1388.761905           2354.491245
std              934.352566            122.220874           1186.985442
min              128.000000           1056.000000            598.000000
25%             1172.000000           1344.000000           1624.000000
50%             1523.000000           1440.000000           2088.000000
75%             2075.000000           1440.000000           2831.000000
max            21929.000000           1560.000000          35640.000000

       finishedsquarefeet50  finishedsquarefeet6          fips  fireplacecnt  \
count           6037.000000           386.000000  77579.000000   8289.000000
mean            1381.388935          2082.500000   6048.814151      1.191217
std              725.792665          1240.382784     20.747252      0.490980
min               44.000000           380.000000   6037.000000      1.000000
25%              956.000000           993.750000   6037.000000      1.000000
50%             1259.000000          1812.500000   6037.000000      1.000000
75%             1621.000000          3053.500000   6059.000000      1.000000
max            12467.000000          5598.000000   6111.000000      5.000000

        fullbathcnt  garagecarcnt  garagetotalsqft  hashottuborspa  \
count  76963.000000  25520.000000     25520.000000          1539.0
mean       2.250107      1.815282       350.047061             1.0
std        0.966492      0.588340       261.646070             0.0
min        1.000000      0.000000         0.000000             1.0
25%        2.000000      2.000000         0.000000             1.0
50%        2.000000      2.000000       436.000000             1.0
75%        3.000000      2.000000       492.000000             1.0
max       18.000000     14.000000      4251.000000             1.0

           latitude     longitude  lotsizesquarefeet  poolcnt  poolsizesum  \
count  7.757900e+04  7.757900e+04       6.932100e+04  16174.0   869.000000
mean   3.400837e+07 -1.182037e+08       2.997344e+04      1.0   517.930955
std    2.652873e+05  3.594085e+05       1.233050e+05      0.0   156.569664
min    3.333953e+07 -1.194754e+08       2.360000e+02      1.0    24.000000
25%    3.381463e+07 -1.184150e+08       5.700000e+03      1.0   424.000000
50%    3.402200e+07 -1.181810e+08       7.206000e+03      1.0   500.000000
75%    3.417431e+07 -1.179286e+08       1.183700e+04      1.0   600.000000
max    3.481877e+07 -1.175546e+08       6.971010e+06      1.0  1500.000000

       pooltypeid10  pooltypeid2  pooltypeid7  propertylandusetypeid  \
count         465.0       1074.0      15079.0           77579.000000
mean            1.0          1.0          1.0             261.824476
std             0.0          0.0          0.0               5.141596
min             1.0          1.0          1.0              31.000000
25%             1.0          1.0          1.0             261.000000
50%             1.0          1.0          1.0             261.000000
75%             1.0          1.0          1.0             266.000000
max             1.0          1.0          1.0             275.000000

       rawcensustractandblock   regionidcity  regionidcounty  \
count            7.757900e+04   76107.000000    77579.000000
mean             6.049124e+07   33683.055107     2534.514933
std              2.058962e+05   47211.780350      801.447913
min              6.037101e+07    3491.000000     1286.000000
25%              6.037311e+07   12447.000000     1286.000000
50%              6.037603e+07   25218.000000     3101.000000
75%              6.059042e+07   45457.000000     3101.000000
max              6.111009e+07  396556.000000     3101.000000

       regionidneighborhood    regionidzip       roomcnt  storytypeid  \
count          30974.000000   77529.000000  77579.000000         50.0
mean          187725.110544   96586.692812      1.476276          7.0
std           165045.086058    3793.552065      2.823686          0.0
min             6952.000000   95982.000000      0.000000          7.0
25%            46736.000000   96193.000000      0.000000          7.0
50%           118849.000000   96389.000000      0.000000          7.0
75%           274765.000000   96987.000000      0.000000          7.0
max           764167.000000  399675.000000     15.000000          7.0

       threequarterbathnbr       unitcnt  yardbuildingsqft17  \
count         10106.000000  50703.000000         2393.000000
mean              1.009598      1.110309          305.460928
std               0.118572      1.169967          238.735241
min               1.000000      1.000000           11.000000
25%               1.000000      1.000000          170.000000
50%               1.000000      1.000000          250.000000
75%               1.000000      1.000000          364.000000
max               7.000000    237.000000         3191.000000

       yardbuildingsqft26     yearbuilt  numberofstories  fireplaceflag  \
count           70.000000  77309.000000     17599.000000          172.0
mean           216.385714   1968.611507         1.434286            1.0
std            190.177514     23.793171         0.544515            0.0
min             12.000000   1824.000000         1.000000            1.0
25%             61.500000   1953.000000         1.000000            1.0
50%            164.500000   1970.000000         1.000000            1.0
75%            310.500000   1987.000000         2.000000            1.0
max            868.000000   2016.000000         6.000000            1.0

       structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
count                7.746400e+04       7.757800e+04         77579.0
mean                 1.892811e+05       4.901506e+05          2016.0
std                  2.304107e+05       6.537979e+05             0.0
min                  4.400000e+01       1.000000e+03          2016.0
25%                  8.417925e+04       2.068985e+05          2016.0
50%                  1.364045e+05       3.588785e+05          2016.0
75%                  2.187340e+05       5.690000e+05          2016.0
max                  1.142179e+07       4.906124e+07          2016.0

       landtaxvaluedollarcnt      taxamount  taxdelinquencyyear  \
count           7.757700e+04   77574.000000         2900.000000
mean            3.011515e+05    5995.961788           14.088276
std             4.927249e+05    7628.859728            2.181281
min             1.610000e+02      19.920000            3.000000
25%             8.529300e+04    2712.630000           14.000000
50%             2.031880e+05    4448.265000           15.000000
75%             3.667530e+05    6926.917500           15.000000
max             4.895220e+07  586639.300000           99.000000

       censustractandblock            id      logerror
count         7.733200e+04  77579.000000  77579.000000
mean          6.049667e+13  38806.223579      0.016803
std           1.533339e+12  22403.467491      0.170738
min           6.037101e+13      0.000000     -4.655420
25%           6.037311e+13  19404.500000     -0.024309
50%           6.037603e+13  38804.000000      0.006676
75%           6.059042e+13  58207.500000      0.039291
max           4.830301e+14  77612.000000      5.262999
----------------------

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [ ]:
def remove_columns(df, cols_to_remove):
    df = df.drop(columns=cols_to_remove)
    return df

In [ ]:
df.parcelid.value_counts()

11991059    3
10857130    3
12612211    3
11721753    2
14008322    2
           ..
11994786    1
14187514    1
11446758    1
14013599    1
12826780    1
Name: parcelid, Length: 77381, dtype: int64

In [ ]:
df.unitcnt.isnull().sum()

26876

In [ ]:
df.bedroomcnt.value_counts()

3.0     30436
2.0     19223
4.0     17551
5.0      4550
1.0      3391
6.0      1000
0.0       837
8.0       253
7.0       208
9.0        70
10.0       31
12.0       16
11.0        9
13.0        2
14.0        1
16.0        1
Name: bedroomcnt, dtype: int64

In [ ]:
def get_upper_outliers(s, k=1.5):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, 0.75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

In [ ]:
def add_upper_outlier_columns(df, k=1.5):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    for col in df.select_dtypes('float64'):
        df[col + '_outliers_upper'] = get_upper_outliers(df[col], k)
    return df

In [ ]:
df = add_upper_outlier_columns(df)

In [ ]:
outlier_cols = [col for col in df.columns if col.endswith('_outliers_upper')]
for col in outlier_cols:
    print(col, ': ')
    subset = df[col][df[col] > 0]
    print(f'Number of Observations Above Upper Bound: {subset.count()}', '\n')
    print(subset.describe())
    print('------', '\n')

typeconstructiontypeid_outliers_upper :
Number of Observations Above Upper Bound: 2

count    2.00000
mean     5.50000
std      2.12132
min      4.00000
25%      4.75000
50%      5.50000
75%      6.25000
max      7.00000
Name: typeconstructiontypeid_outliers_upper, dtype: float64
------

heatingorsystemtypeid_outliers_upper :
Number of Observations Above Upper Bound: 977

count    977.000000
mean       8.932958
std        1.493791
min        3.500000
25%        9.500000
50%        9.500000
75%        9.500000
max        9.500000
Name: heatingorsystemtypeid_outliers_upper, dtype: float64
------

buildingclasstypeid_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: buildingclasstypeid_outliers_upper, dtype: float64
------

architecturalstyletypeid_outliers_upper :
Number of Observations Above Upper Bound: 26

count    26.000000
mean      4.500000
std       5.880476
min       1.000000
25%       1.000000
50%       1.000000
75%      10.750000
max      14.000000
Name: architecturalstyletypeid_outliers_upper, dtype: float64
------

airconditioningtypeid_outliers_upper :
Number of Observations Above Upper Bound: 1821

count    1821.000000
mean       11.151016
std         2.344443
min         4.000000
25%        12.000000
50%        12.000000
75%        12.000000
max        12.000000
Name: airconditioningtypeid_outliers_upper, dtype: float64
------

parcelid_outliers_upper :
Number of Observations Above Upper Bound: 32

count    3.200000e+01
mean     1.436296e+08
std      1.989181e+07
min      6.141939e+07
25%      1.494151e+08
50%      1.494159e+08
75%      1.494177e+08
max      1.494682e+08
Name: parcelid_outliers_upper, dtype: float64
------

## Prepare
Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

The input:
A dataframe
A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
The output:
The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function

In [ ]:
def handle_missing_values(df, prop_required_columns=0.5, prop_required_row=0.8):
    threshold = int(round(prop_required_columns * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold) #1, or â€˜columnsâ€™ : Drop columns which contain missing value
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold) #0, or â€˜indexâ€™ : Drop rows which contain missing values.
    return df

In [ ]:
def data_prep(df, cols_to_remove=[], prop_required_column=0.5, prop_required_row=0.8):
    df = df.drop(columns=cols_to_remove)
    df = handle_missing_values(df, prop_required_column, prop_required_row)
    return df

In [ ]:
df = handle_missing_values(df)

In [ ]:
def trim_bad_data_zillow(df):
    # If it's not single unit, it's not a single family home.
    df = df[~(df.unitcnt > 1)]
    # If the lot size is smaller than the finished square feet, it's probably bad data or not a single family home
    df = df[~(df.lotsizesquarefeet < df.calculatedfinishedsquarefeet)]
    # If the finished square feet is less than 500 it is likeley an apartment, or bad data
    #df = df[~(df.calculatedfinishedsquarefeet < 500)]
    # If there are no bathrooms, it is not a home
    df = df[~(df.bathroomcnt < 1)]
    #If there are no bedrooms, it is not a home
    df = df[~(df.bedroomcnt < 1)]
    # remove duplicate parcelids
    df = df.sort_values('transactiondate').drop_duplicates('parcelid',keep='last')
    return df

In [ ]:
df = trim_bad_data_zillow(df)

In [11]:
df.transactiondate.dtypes

dtype('O')

In [13]:
df['transactiondate'] = pd.to_datetime(df['transactiondate'], format= '%Y/%m/%d')

In [14]:
def add_date_features(df):
    df["transaction_year"] = df["transactiondate"].dt.year
    df["transaction_month"] = df["transactiondate"].dt.month
    df["transaction_day"] = df["transactiondate"].dt.day
    df["transaction_quarter"] = df["transactiondate"].dt.quarter
    df.drop(["transactiondate"], inplace=True, axis=1)
    return df

In [15]:
df = add_date_features(df)

In [16]:
df.transaction_day.value_counts()

28    3747
31    3472
14    3041
30    2945
7     2936
24    2798
17    2794
1     2777
23    2622
21    2596
6     2561
12    2520
11    2516
10    2481
16    2468
15    2456
19    2442
26    2441
8     2432
25    2428
13    2397
9     2395
5     2394
18    2393
27    2321
22    2138
3     2063
20    2021
2     1845
29    1639
4     1500
Name: transaction_day, dtype: int64

In [17]:
df.transaction_quarter.value_counts()

2    30615
3    24213
1    22751
Name: transaction_quarter, dtype: int64

In [18]:
df.transaction_month.value_counts()

6    11453
5    10484
8     9930
7     9486
3     9324
4     8678
1     7019
2     6408
9     4797
Name: transaction_month, dtype: int64

In [23]:
df['longitude'].astype(float)

0       -117869207.0
1       -119281531.0
2       -117823170.0
3       -118240722.0
4       -118414640.0
            ...
77574   -118502000.0
77575   -118282383.0
77576   -118706327.0
77577   -118038169.0
77578   -117996709.0
Name: longitude, Length: 77579, dtype: float64

In [24]:
df['latitude'].astype(float)

0        33634931.0
1        34449266.0
2        33886168.0
3        34245180.0
4        34185120.0
            ...
77574    34202400.0
77575    34245368.0
77576    34300140.0
77577    34040895.0
77578    33937685.0
Name: latitude, Length: 77579, dtype: float64

In [28]:
def xy(df):
    df['x'] = math.cos(df.latitude) * math.cos(df.longitude)
    df['y'] = math.cos(df.latitude) * math.sin(df.longitude)
    return df

df.apply

TypeError: cannot convert the series to <class 'float'>

In [29]:
df['coslat'] = df.latitude.apply(math.cos)

In [30]:
df['coslong'] = df.longitude.apply(math.cos)

In [31]:
df['sinlong'] = df.longitude.apply(math.sin)

In [32]:
df['x'] = df.coslong * df.coslat

In [33]:
df['y'] = df.coslat * df.sinlong

In [ ]:
def pol2cart(rho, phi):
    x = rho * np.cos(phi)
    y = rho * np.sin(phi)
    return(x, y)